<?xml version="1.0" ?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd http://www.nlog-project.org/schemas/NLog.xsd"
    autoReload="true"
    >
    <targets>
        <target name="file" xsi:type="File"
            fileName="${specialfolder:folder=LocalApplicationData}/Milestone/VPS/VPS.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffzzz}  ${uppercase:${level}} - ${message} ${exception:format=tostring}"
            archiveFileName="${specialfolder:folder=LocalApplicationData}/Milestone/VPS/archive/VPS-{######}.log"
            archiveNumbering="Rolling"
            maxArchiveFiles="20"
            archiveEvery="Day"
            archiveOldFileOnStartup="false"
            createDirs="true"
        />
        <target name="console" xsi:type="Console"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffzzz}  ${uppercase:${level}} - ${message} ${exception:format=tostring}"
        />
    </targets>
     <rules>
        <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="file" />
        <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="console" />
    </rules>
</nlog>